.chat-messages-show-container{
	background: #c3c3c3;
	height: 400px;
	display: flex;
	flex-direction: column;
	overflow: auto;
 }
 .chat-messages-show-list {
	list-style-type:none;
	margin: 0;
	padding: 0;
 }
 .chat-messages-create-container{
	background: #e74d4d;
	height: 100px;
	display: flex;
	justify-content: center;
 }
 .chat-messages-create-input {
	padding: 12px;
	margin: 29px 30px;
	flex:2
 }
 .chat-messages-create-button {
	height: 50px;
	margin: auto 40px;
	width: 100px;
 }
 input{
	border-radius: 16px;

 }
 button{
	color: #FF4747;
    border-color: #FF4747;
    background: white;
    border-radius: 12px;
 }