<app-navbar></app-navbar>
<section class="pb-6">

    <div class="container">
      <div class="row flex-center">
        <div class="col-lg-6 col-md-5 order-md-1"><img class="img-fluid" src="assets/img/illustrations/1.png" alt="" /></div>
        <div class="col-md-7 col-lg-6 mt-5 text-center text-md-start">
          <h1 class="fw-medium">Avez vous un freelancer cherche un travail ou avez vous un client cherche un personne pour faire un travail<br />c'est simple avec<span class="fw-bold">FreelancersTUNISIE</span></h1>
          <p class="mt-3 mb-4"> un platforme permet de vous aider à trouver des projets et à trouver des freelancers c'est notre platforme qui vous permet tout ça <span class="fw-medium">FreelancersTUNISIE </span>avec nous vous pouvez étre un freelancer avec une expérience depuis les projets qui seront disponibles et donnés par notre chers clients . Chers clients notre site web vous offrir des meilleurs freelancers  </p>
          
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
