<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>

    <!-- Font Icon -->

    <!-- Main css -->
    
</head>
<body>

    <div class="main">
<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()" name="register">

                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                       <input type="LastName" name="LastName" class="form-control" id="LastName" formControlName="lastName"
                            aria-describedby="LastName" placeholder="Enter LastName">
                       
                    </div>

                    <div class="form-group">
                        <label for="FirstName"><i class="zmdi zmdi-email"></i></label>
                        <input type="FirstName" name="FirstName" class="form-control" id="FirstName" formControlName="firstName"
                        aria-describedby="FirstName" placeholder="Enter FirstName">                    </div>

                    <div class="form-group">
                            <label for="cin"><i class="zmdi zmdi-email"></i></label>
                            <input type="cin" name="cin" class="form-control" id="cin" formControlName="cin"
                            aria-describedby="cin" placeholder="Enter cin">                    </div>

                     <div class="form-group">
                                <label for="tel"><i class="zmdi zmdi-email"></i></label>
                                <input type="tel" name="tel" class="form-control" id="tel" formControlName="tel"
                                aria-describedby="tel" placeholder="Enter telephone">                    </div>

                                <div class="form-group">
                                    <label for="email"><i class="zmdi zmdi-email"></i></label>
                                    <input type="email" name="email" class="form-control" id="email" formControlName="email"
                                    aria-describedby="email" placeholder="Enter email">                    </div>

                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="password" class="form-control" id="password" formControlName="password"
                        aria-describedby="password" placeholder="Enter password">                    </div>

                    <div class="form-group">
                        <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" name="password" class="form-control" id="password" formControlName="password"
                        aria-describedby="password" placeholder="Enter password">                    </div>

                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="form-submit" href ="about" value="Register"/>
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="assets/images1/signup-image.jpg" alt="sing up image"></figure>
                <a href="login" class="signup-image-link">I am already member</a>
            </div>
        </div>
    </div>
</section>

</div>

<!-- JS -->

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
