<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<body>
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item" style="margin-top: 34px;">
                    <h3>Services</h3>
                    <ul>
                        <li><a routerLink="/listeprojets">Projet</a></li>
                        <li><a routerLink="/listefreelancers">Freelancer</a></li>
                        <li><a routerLink="/listecours">Cours</a></li>
                        <li><a routerLink="/addProject">Nouveau Projets</a></li>

                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item" style="margin-top: 34px;">
                    <h3>About</h3>
                    <ul>
                        <li><a routerLink="/about">About</a></li>
                        <li><a routerLink="/contact">Contact</a></li>
                        <li><a routerLink="/register">Register</a></li>
                        <li><a routerLink="/login">Login</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text" style="margin-top: 34px;">
                    <h3>Freelance Tunisie</h3>
                    <p>Freelance Tunisie accompagne les grands comptes dans la création et la gestion de leur écosystème de freelances et de PME d’expertise : sourcing de talents, gestion des sous-traitants, portage salarial, conformité, formation.</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Freelance Tunisie © 2022</p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>