<app-navbar></app-navbar>
<br>
<br>
<br>
<br>
<br>
<div class="container">
   <div class="container">
      <h2>Liste des freelancers</h2>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="row">
       

        <input type="text" class="form-control"  formControlName="titre">   
         <button type="submit" value="search" >Rechercher</button>
    
      </div>
    </form>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">#</div>
          <div class="col col-2">Nom</div>
          <div class="col col-3">Prenom</div>
          <div class="col col-4">Email</div>
          <div class="col col-4">Télephone</div>
         </li>
        <li class="table-row" *ngFor="let item of freelancers; index as i" routerLink="/freelancer-profile/{{item._id}}"  >
        <ng-container *ngIf="item.role==='Freelancer'">
        
          <div class="col col-1" data-label="Job Id" >{{i+1}}</div>
          <div class="col col-2" data-label="Customer Name">{{item.firstName}}</div>
          <div class="col col-3" data-label="Amount">{{item.lastName}}</div>
          <div class="col col-4" data-label="Payment Status">{{item.email}}</div>
          <div class="col col-4" data-label="Payment Status">{{item.tel}}</div>
         </ng-container>
        </li>
        
        
      </ul>
    </div>
</div>