


<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Freelancer</title>
  
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
<app-header-nav></app-header-nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
 <app-navbar></app-navbar>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="main-panel">        
              <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Ajout Cours</h4>
                  
                    <form name="cours">
                      <div class="form-group">
                        <label for="exampleInputUsername1">name</label><br><br><br>
                        <input type="text" class="form-control" [(ngModel)]="coursForm.name" [ngModelOptions]="{standalone: true}" id="exampleInputUsername1" placeholder="name">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputUsername1"> file</label><br><br><br>
                        <input type="file" class="form-control" [(ngModel)]="coursForm.file" [ngModelOptions]="{standalone: true}" (change)="loadFile($event)" id="exampleInputUsername1" placeholder="file">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputUsername1">description</label><br><br><br>
                        <input type="text" class="form-control" [(ngModel)]="coursForm.description" [ngModelOptions]="{standalone: true}" id="exampleInputUsername1" placeholder="description">
                      </div>
                    
                      <button type="submit" class="btn btn-primary mr-2"  (click)="addCourse()">Ajouter </button>
                      <button class="btn btn-light">Annuler</button>
                    </form>
                  </div>
                </div>
                    </div>
                </div>
              </div>
            </div>
            
           
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  
</body>

</html>


