<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" routerLink="/admin/freelancer" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title" >Freelancers</span>
        <i class="menu-arrow"></i>
      </a>

    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse"routerLink="/admin/listeclient" aria-expanded="false" aria-controls="form-elements">
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Clients</span>
        <i class="menu-arrow"></i>
      </a>
    
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">Cours</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/admin/cours"> Ajouter Cours </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/admin/liste"> Liste des cours </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" routerLink="/admin/projet" aria-expanded="false" aria-controls="tables">
        <i class="icon-grid-2 menu-icon"></i>
        <span class="menu-title">Projets</span>
        <i class="menu-arrow"></i>
      </a>
   
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" routerLink="/admin/contactadmin" aria-expanded="false" aria-controls="icons">
        <i class="icon-contract menu-icon"></i>
        <span class="menu-title">contact</span>
        <i class="menu-arrow"></i> 
      </a>
      
    </li>
 
     
    <li class="nav-item"  (click)="logout()"> 
      <a class="nav-link"  >
        <i class="icon-paper menu-icon"></i>
        <span class="menu-title">Logout</span>
      </a>
    </li>
  </ul>
</nav>