<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
  <div class="container"><a class="navbar-brand" href="#"><img src="assets/img/icons/logo.png" alt="" width="30" /><span class="text-1000 fs-1 ms-2 fw-medium">Freelancer<span class="fw-bold">Tunisie</span></span></a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto border-bottom border-lg-bottom-0 pt-2 pt-lg-0">
         
       
        <li class="nav-item"><a class="nav-link" href="listeprojets">Projets </a></li>
        <li class="nav-item"><a class="nav-link" href="listefreelancers">Freelancers</a></li>
        <li class="nav-item"><a class="nav-link" href="contact">Contact </a></li>
      </ul>
      <form class="d-flex py-3 py-lg-0">
        <a class="btn btn-link text-1000 fw-medium order-1 order-lg-0" type="button" href="login">Deconnexion</a>

      </form>
    </div>
  </div>
</nav>
<br>
<br>
<br>
<div class="container mt-5">

    <div class="row d-flex justify-content-center ">

      <div class="col-md-6">

          <div class="card">
            
            <div class="input-box">
              <input type="text" class="form-control">
              <i class="fa fa-search"></i>                    
            </div>


            <div class="list border-bottom" *ngFor="let projet of projets">

              <i class="fa fa-fire"></i>
              <div class="d-flex flex-column ml-3">
                <span>  {{projet.name}}</span> 
                <span>  {{projet.titre}}</span> 
                <small>{{projet.file}}</small>
              </div>                   
            </div>







          </div>
        
      </div>
      
    </div>
    
  </div>
