 

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
  <app-header-nav></app-header-nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->

      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
    <app-navbar></app-navbar>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Liste cours</h4>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            name
                          </th>
                          <th>
                            Contenu
                          </th>
                          <th>
                            description
                          </th>
                          <th>
                            Action
                          </th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let cours of cours">
                        <tr>
                          <td class="py-1">
                            {{cours.name}}
                          </td>
                          <td>
                            <i class="fa fa-download" (click)="donlowd(cours.file)"  aria-hidden="true"></i>
                          </td>

                          <td>
                            {{cours.description}}
                          </td>
                          <td> 
                       
                            <i class="fa fa-edit "  routerLink="/admin/update-cours/{{cours._id}}"></i> 
                            <i style="margin-left: 10px; color:red" class="fa fa-trash"  (click)="deleteCours(cours)"></i> </td>

                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021. Premium <a
                href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.
              All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
                class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

</body>

 