<app-navbar></app-navbar>
 
 
<div class="container">
  <div class="container"><h2>Liste des cours</h2>
	<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="row">
      <input type="text" class="form-control" formControlName="titre">    <button type="submit" value="search">Rechercher</button>
    </div>   </form>

 	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link"  >#</a></div>
			<div class="header__item"><a id="wins" class="filter__link filter__link--number"  >Titre</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" >Description</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number"  >Télécharger </a></div>
 		</div>
		<div class="table-content">	
  
			<div class="table-row" *ngFor="let item of cours; index as i">
				<div class="table-data">{{i+1}}</div>
				<div class="table-data">{{item.name}}</div>
				<div class="table-data">{{item.description}}</div>
				<div class="table-data"><i class="fa fa-download" (click)="donlowd(item.file)"  aria-hidden="true"></i></div>
 
			</div>
		</div>	
	</div>
</div>

 