<app-navbar></app-navbar>
 <app-about></app-about>
<div>
 
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="subtitle">Services</p>
        <h2 class="section-title">Our Service Area</h2>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-object-ungroup icon-lg icon-primary icon-bg-primary icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">Networking</h4>
            <p>For what reason would it be advisable for me to think about business content?</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-users icon-lg icon-yellow icon-bg-yellow icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">Social Activity</h4>
            <p>For what reason would it be advisable for me to think about business content?</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-desktop icon-lg icon-purple icon-bg-purple icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">Web Design</h4>
            <p>For what reason would it be advisable for me to think about business content?</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-cloud icon-lg icon-cyan icon-bg-cyan icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">Cloud Service</h4>
            <p>For what reason would it be advisable for me to think about business content?</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-comments icon-lg icon-red icon-bg-red icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">Consulting</h4>
            <p>For what reason would it be advisable for me to think about business content?</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-search-plus icon-lg icon-green icon-bg-green icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">SEO Optimization</h4>
            <p>For what reason would it be advisable for me to think about business content?</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-user icon-lg icon-orange icon-bg-orange icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">Usability Testing</h4>
            <p>For what reason would it be advisable for me to think about business content?</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card border-0 shadow rounded-xs pt-5">
          <div class="card-body">
            <i class="fa fa-envelope icon-lg icon-blue icon-bg-blue icon-bg-circle mb-3"></i>
            <h4 class="mt-4 mb-3">UX Prototyping</h4>
            <p>For what reason would it be advisable for me to think about business content?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">

      <div class="four col-md-3">
        <div class="counter-box colored">
          <i class="fa fa-thumbs-o-up"></i>
          <span class="counter">{{countC}}</span>
          <p>Cours</p>
        </div>
      </div>
      <div class="four col-md-3">
        <div class="counter-box">
          <i class="fa fa-group"></i>
          <span class="counter">{{countU}}</span>
          <p>Client</p>
        </div>
      </div>
      <div class="four col-md-3">
        <div class="counter-box">
          <i class="fa  fa-shopping-cart"></i>
          <span class="counter">{{countP}}</span>
          <p>Projet</p>
        </div>
      </div>
      <div class="four col-md-3"> 
        <div class="counter-box">
          <i class="fa  fa-user"></i>
          <span class="counter">{{countF}}</span>
          <p>Freelancer</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>